<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><br/><img src="cid:logo.png"/></p>
<p>Estimado/a </p>
<br/>
<!--<p th:text="${'Junto con saludar, informamos que con fecha ' + fecha} + ' se le ha notificado por esta via.'"></p>-->
<p th:text="${body}"></p>
<br/>
<p>Saludos.</p>

</body>
</html>